import("methods")
import("distr")
import("distrEx")
import("RandVar")
import("ROptEst")

exportClasses("RegTypeFamily", 
              "L2RegTypeFamily")
exportClasses("CondNeighborhood", 
              "CondContNeighborhood",
              "CondTotalVarNeighborhood", 
              "AvCondNeighborhood", 
              "Av1CondNeighborhood", 
              "Av2CondNeighborhood",
              "Av1CondContNeighborhood", 
              "Av1CondTotalVarNeighborhood",
              "Av2CondContNeighborhood")
exportClasses("FixRobRegTypeModel", 
              "InfRobRegTypeModel") 
exportClasses("CondIC",
              "CondContIC",
              "Av1CondContIC",
              "Av2CondContIC",
              "CondTotalVarIC",
              "Av1CondTotalVarIC")

exportMethods("show", 
              "plot",
              "E") 
exportMethods("ErrorDistr", 
              "ErrorSymm", 
              "RegDistr", 
              "RegSymm", 
              "Regressor", 
              "L2deriv",
              "ErrorL2deriv", 
              "ErrorL2derivSymm",
              "ErrorL2derivDistr", 
              "ErrorL2derivDistrSymm",
              "FisherInfo",
              "checkL2deriv") 
exportMethods("radiusCurve", 
              "neighbor", "neighbor<-", 
              "bound", 
              "Curve", 
              "CallL2Fam", "CallL2Fam<-",
              "generateIC", 
              "checkIC",
              "clip", "clip<-", 
              "cent", "cent<-", 
              "stand", "stand<-", 
              "lowerCase", "lowerCase<-", 
              "neighborRadius", "neighborRadius<-",
              "neighborRadiusCurve", "neighborRadiusCurve<-", 
              "clipLo", "clipLo<-", 
              "clipUp", "clipUp<-")
exportMethods("optIC", 
              "getInfRobRegTypeIC",
              "getFixRobRegTypeIC", 
              "getAsRiskRegTS",
              "getFiRiskRegTS",
              "getInfClipRegTS", 
              "getFixClipRegTS",
              "getInfGammaRegTS", 
              "getInfCentRegTS", 
              "getInfStandRegTS",
              "getRiskIC", 
              "optRisk", 
              "radiusMinimaxIC", 
              "getIneffDiff",
              "leastFavorableRadius")

export("RegTypeFamily", 
       "L2RegTypeFamily", 
       "NormLinRegFamily", 
       "NormLinRegScaleFamily",
       "NormLinRegInterceptFamily") 
export("CondContNeighborhood", 
       "CondTotalVarNeighborhood", 
       "Av1CondContNeighborhood", 
       "Av1CondTotalVarNeighborhood", 
       "Av2CondContNeighborhood")
export("FixRobRegTypeModel", 
       "InfRobRegTypeModel") 
export("CondIC",
       "CondContIC", 
       "Av1CondContIC",
       "Av2CondContIC",
       "CondTotalVarIC",
       "Av1CondTotalVarIC")
