import("methods")
import("distr")
import("distrEx")
import("RandVar")
import("distrMod")
import("RobAStBase")

exportClasses("asAnscombe", "asL1", "asL4") 
exportMethods("optIC", 
              "getInfRobIC", 
              "getFixRobIC",
              "getAsRisk", 
              "getFiRisk",
              "getInfRad", 
              "getInfClip", 
              "getFixClip",
              "getInfGamma", 
              "getInfCent", 
              "getInfStand", 
              "getInfV", 
              "getRiskIC", 
              "optRisk", 
              "radiusMinimaxIC", 
              "getIneffDiff", 
              "leastFavorableRadius",
              "lowerCaseRadius",
              "minmaxBias", "getBiasIC", 
              "getL1normL2deriv",
              "getModifyIC")
exportMethods("updateNorm", "scaleUpdateIC", "eff", 
              "get.asGRisk.fct", "getStartIC", "plot",
			  "comparePlot", "getRiskFctBV")
export("getL2normL2deriv",
       "asAnscombe", "asL1", "asL4", 
	   "getReq", "getMaxIneff", "getRadius")
export("roptest","roptest.old", "robest",
       "getLagrangeMultByOptim","getLagrangeMultByIter")
export("genkStepCtrl", "genstartCtrl", "gennbCtrl")
export("cniperCont", "cniperPoint", "cniperPointPlot")
export(".generateInterpGrid",".getLMGrid",".saveGridToCSV", ".readGridFromCSV")
export(".RMXE.th",".OMSE.th", ".MBRE.th")
export("CniperPointPlot")