import("methods", "distr")
importMethodsFrom("distrMod","estimate")
importFrom("RColorBrewer","brewer.pal")
importFrom("lattice","stripplot")
importMethodsFrom("BiocGenerics","append","annotation")
importFrom("Biobase","assayDataNew")
importClassesFrom("Biobase","ExpressionSet","AssayData","AnnotatedDataFrame")
importMethodsFrom("Biobase", "rowMedians", "featureNames", "sampleNames", 
           "phenoData", "experimentData", "exprs", "exprs<-", "assayData","assayData<-")
importFrom("affy","bg.correct.mas","getCdfInfo")
importMethodsFrom("affy","intensity")
import("beadarray")
importFrom("RobLox", "rowRoblox", "finiteSampleCorrection")
exportMethods("robloxbioc", "KolmogorovMinDist")
export("AffySimStudy", "IlluminaSimStudy")
