import("methods", "distr")
importMethodsFrom("BiocGenerics","append","annotation")
importFrom("Biobase","assayDataNew")
importFrom("lattice","stripplot")
importFrom("RColorBrewer","brewer.pal")
importClassesFrom("Biobase","ExpressionSet","AssayData","AnnotatedDataFrame")
importMethodsFrom("Biobase", "rowMedians", "featureNames", "sampleNames", 
           "phenoData", "experimentData", "exprs", "exprs<-", "assayData","assayData<-")
importFrom("affy","bg.correct.mas","getCdfInfo","tukey.biweight")
importMethodsFrom("affy","intensity")
import("beadarray")
importFrom("RobLox", "rowRoblox", "finiteSampleCorrection")

exportMethods("robloxbioc", "KolmogorovMinDist")
export("AffySimStudy", "IlluminaSimStudy")
