import("distr")
import("distrEx")
import("distrMod")
import("RobAStBase")
import("RandVar")

exportMethods("show", 
              "coerce", 
              "length")
exportMethods("type",
              "SymmCenter")
exportMethods("name", "name<-", 
              "distribution", 
              "distrSymm",
              "props", "props<-", "addProp<-", 
              "main", "main<-", 
              "nuisance", "nuisance<-", 
              "trafo", "trafo<-", 
              "param", 
              "infoPlot")
exportMethods("radius")
exportMethods("center", "center<-", 
              "neighbor", "neighbor<-")
exportMethods("Curve", 
              "Risks", "Risks<-", "addRisk<-", 
              "Infos", "Infos<-", "addInfo<-", 
              "CallL2Fam", "CallL2Fam<-", 
              "generateIC", 
              "checkIC",
              "evalIC",
              "clip", "clip<-", 
              "cent", "cent<-", 
              "stand", "stand<-", 
              "lowerCase", "lowerCase<-", 
              "neighborRadius", "neighborRadius<-", 
              "clipLo", "clipLo<-", 
              "clipUp", "clipUp<-") 
exportMethods("optIC", 
              "getInfRobIC", 
              "getFixRobIC",
              "getAsRisk", 
              "getFiRisk",
              "getInfClip", 
              "getFixClip",
              "getInfGamma", 
              "getInfCent", 
              "getInfStand", 
              "getRiskIC", 
              "optRisk", 
              "radiusMinimaxIC", 
              "getIneffDiff", 
              "leastFavorableRadius",
              "lowerCaseRadius",
              "minmaxBias", "getBiasIC", "getL1normL2deriv")
export("getL2normL2deriv")