useDynLib("RobExtremes")

import("methods")
import("distr")
import("distrEx")
import("RandVar")
import("distrMod")
import("robustbase")
import("RobAStBase")
import("ROptEst")

exportClasses("GumbelParameter",
              "ParetoParameter",
			  "GParetoParameter",
			  "GEVParameter",
			  "LDEstimate")
exportClasses("Gumbel", "Pareto", "GPareto", "GEV")
exportClasses("GParetoFamily", "GumbelLocationFamily")
exportMethods("initialize", "show") 
exportMethods("loc", "loc<-", 
              "E", "var", "IQR", "median", "kMAD", "Sn", "Qn")
exportMethods("validParameter",
              "location", "location<-", 
              "scale", "scale<-",
              "shape", "shape<-",
              "+", "*",
              "Min", "Min<-",
              "Range",
              "E", "var", "IQR", "skewness", "kurtosis", 
              "sd", "median", "mad", "dispersion", "location")
exportMethods("modifyModel")
export("EULERMASCHERONICONSTANT","APERYCONSTANT")
export("Gumbel", "Pareto", "GPareto", "GEV")
export("GParetoFamily", "GumbelLocationFamily")
export("LDEstimator", "medkMAD", "medSn", "medQn", "medkMADhybr")
export("getShapeGrid", "getSnGrid", "PickandsEstimator")
export("loc", "loc<-", "asvarMedkMAD","asvarPickands")