useDynLib("RobExtremes")

import("methods")
import("distr")
import("distrEx")
import("distrMod")

exportClasses("GumbelParameter",
              "ParetoParameter",
			  "GParetoParameter",
			  "GEVParameter",
			  "LDEstimate")
exportClasses("Gumbel", "Pareto", "GPareto", "GEV")
exportClasses("GParetoFamily", "GumbelLocationFamily", "WeibullFamily")
exportClasses("DistributionsIntegratingByQuantiles")
exportMethods("initialize", "show") 
exportMethods("loc", "loc<-", "kMAD", "Sn", "Qn")
exportMethods("validParameter",
              "location", "location<-", 
              "scale", "scale<-",
              "shape", "shape<-",
              "+", "*",
              "Min", "Min<-",
              "E", "var", "IQR", "skewness", "kurtosis", "median", "dispersion")
exportMethods("modifyModel")

export("EULERMASCHERONICONSTANT","APERYCONSTANT")
export("Gumbel", "Pareto", "GPareto", "GEV")
export("GParetoFamily", "GumbelLocationFamily", "WeibullFamily", "GEVFamily")
export("LDEstimator", "medkMAD", "medSn", "medQn", "medkMADhybr")
export("getShapeGrid", "getSnGrid", 
       "PickandsEstimator","QuantileBCCEstimator")
export("loc", "loc<-", "kMAD", "Sn", "Qn", 
       "asvarMedkMAD","asvarPickands", "asvarQBCC")