export(finiteSampleCorrection,
       rlsOptIC.AL, 
       rlsOptIC.M, 
       rlsOptIC.BM,
       rlsOptIC.Hu1, 
       rlsOptIC.Hu2a, 
       rlsOptIC.Hu2, 
       rlsOptIC.Hu3, 
       rlsOptIC.HuMad, 
       rlsOptIC.Ha3,
       rlsOptIC.Ha4, 
       rlsOptIC.HaMad, 
       rlsOptIC.An1,
       rlsOptIC.An2, 
       rlsOptIC.AnMad, 
       rlsOptIC.Tu1,
       rlsOptIC.Tu2, 
       rlsOptIC.TuMad, 
       rlsOptIC.MM2,
       rlOptIC,
       rsOptIC,
       roblox,
       rowRoblox,
       colRoblox)
